<div class="row">
    <div class="div">
      <h2>Parcel List</h2>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Destination</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parcel of parcels">
            <td>{{ parcel.name }}</td>
            <td>{{ parcel.email }}</td>
            <td>{{ parcel.destination }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  